---
apiVersion: v1
kind: Namespace
metadata:
  name: ceph-csi
---
apiVersion: v1
kind: Namespace
metadata:
  name: cert-manager
---
apiVersion: v1
kind: Namespace
metadata:
  name: traefik
{% if k3s_addons_cloudnative_pg_enabled | bool %}
---
apiVersion: v1
kind: Namespace
metadata:
  name: cnpg-system
{% endif %}
{% if k3s_addons_powerdns_enabled | bool %}
---
apiVersion: v1
kind: Namespace
metadata:
  name: dns
{% endif %}
{% if k3s_addons_observability_enabled | bool %}
---
apiVersion: v1
kind: Namespace
metadata:
  name: monitoring
{% endif %}
