---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: cert-manager
  namespace: kube-system
spec:
  repo: https://charts.jetstack.io
  chart: cert-manager
{% if k3s_addons_cert_manager_chart_version | length > 0 %}
  version: "{{ k3s_addons_cert_manager_chart_version }}"
{% endif %}
  targetNamespace: cert-manager
  createNamespace: true
  valuesContent: |-
    crds:
      enabled: true
{% if k3s_addons_cert_manager_dns01_recursive_nameservers | length > 0 %}
    extraArgs:
      - --dns01-recursive-nameservers-only
      - --dns01-recursive-nameservers={{ k3s_addons_cert_manager_dns01_recursive_nameservers | join(',') }}
{% endif %}
