---
apiVersion: v1
kind: Secret
metadata:
  name: hetzner-secret
  namespace: cert-manager
type: Opaque
stringData:
  api-token: "{{ k3s_addons_hetzner_api_token }}"
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: cert-manager-webhook-hetzner
  namespace: kube-system
spec:
  repo: https://charts.hetzner.cloud
  chart: cert-manager-webhook-hetzner
{% if k3s_addons_cert_manager_hetzner_webhook_chart_version | length > 0 %}
  version: "{{ k3s_addons_cert_manager_hetzner_webhook_chart_version | regex_replace('^v', '') }}"
{% endif %}
  targetNamespace: cert-manager
  createNamespace: true

