{% if k3s_addons_cloudnative_pg_enabled | bool %}
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: cloudnative-pg
  namespace: kube-system
spec:
  repo: https://cloudnative-pg.github.io/charts
  chart: cloudnative-pg
{% if k3s_addons_cloudnative_pg_chart_version | length > 0 %}
  version: "{{ k3s_addons_cloudnative_pg_chart_version }}"
{% endif %}
  targetNamespace: cnpg-system
  createNamespace: true
  valuesContent: |-
    crds:
      create: true
    monitoring:
      podMonitorEnabled: true
{% endif %}
