{{ ansible_managed | comment }}
{% macro toml_value(value) -%}
{%- if value is sameas true -%}true
{%- elif value is sameas false -%}false
{%- elif value is number -%}{{ value }}
{%- elif value is string -%}{{ value | to_json }}
{%- elif value is mapping -%}{ {{ toml_inline_table(value) }} }
{%- elif value is iterable and value is not string -%}[{{ value | map('to_json') | join(', ') }}]
{%- else -%}{{ value | to_json }}
{%- endif -%}
{%- endmacro %}
{% macro toml_inline_table(mapping) -%}
{%- for key, value in mapping.items() -%}
{{ key }} = {{ toml_value(value) }}{% if not loop.last %}, {% endif %}
{%- endfor -%}
{%- endmacro %}

# Plugin configuration for {{ item.type }}
{% for key, value in item.config.items() %}
{{ key }} = {{ toml_value(value) }}
{% endfor %}
