---
{{ ansible_managed | comment }}
{{
  {
    'network': (
      {
        'version': netplan_version,
        'renderer': netplan_renderer
      } | combine(netplan_config.network | default({}), recursive=True)
    )
  } | to_nice_yaml(indent=2)
}}
