Types: deb
URIs: {{ docker_apt_repository_url }}
Suites: {{ docker_apt_repository_suite }}
Components: stable
Architectures: {{ docker_apt_architecture_map[ansible_architecture] }}
Signed-By: {{ docker_apt_keyring_path }}
