{% for line in ansible_managed.splitlines() %}
; {{ line }}
{% endfor %}
{% macro unbound_value(value) -%}
{%- if value is sameas true -%}yes
{%- elif value is sameas false -%}no
{%- elif value is string and value == '' -%}""
{%- else -%}{{ value }}
{%- endif -%}
{%- endmacro %}
server:
{% for key, value in unbound_config.server.items() %}
{% if value is iterable and value is not string and value is not mapping %}
{% for item in value %}
  {{ key }}: {{ unbound_value(item) }}
{% endfor %}
{% else %}
  {{ key }}: {{ unbound_value(value) }}
{% endif %}
{% endfor %}
{% if unbound_auth_zones | length > 0 %}
{% for zone in unbound_auth_zones %}

auth-zone:
  name: "{{ zone.name }}"
  zonefile: "{{ unbound_zones_dir }}/{{ zone.name }}.zone"
{% endfor %}
{% endif %}
{% if unbound_forward_zones | length > 0 %}
{% for zone in unbound_forward_zones %}

forward-zone:
  name: "{{ zone.name }}"
{% for server in zone.servers | default([]) %}
  forward-addr: {{ server }}
{% endfor %}
{% endfor %}
{% endif %}
{% if unbound_stub_zones | length > 0 %}
{% for zone in unbound_stub_zones %}

stub-zone:
  name: "{{ zone.name }}"
{% for server in zone.servers | default([]) %}
  stub-addr: {{ server }}
{% endfor %}
{% endfor %}
{% endif %}
{% if unbound_local_zones | length > 0 %}
include: "{{ unbound_local_zones_path }}"
{% endif %}
{% if unbound_use_blocklist | bool %}

include: "{{ unbound_blocklist_path }}"
{% endif %}
{% if unbound_config['remote-control'] is defined %}
remote-control:
{% for key, value in unbound_config['remote-control'].items() %}
  {{ key }}: {{ unbound_value(value) }}
{% endfor %}
{% endif %}
