token: "{{ k3s_token }}"
node-name: "{{ inventory_hostname }}"
node-ip: "{{ k3s_node_ip }}"
advertise-address: "{{ k3s_advertise_address }}"
bind-address: "{{ k3s_advertise_address }}"
https-listen-port: {{ k3s_api_port }}
cluster-cidr: "{{ k3s_cluster_cidr }}"
service-cidr: "{{ k3s_service_cidr }}"
cluster-dns: "{{ k3s_cluster_dns }}"
cluster-domain: "{{ k3s_cluster_domain }}"
flannel-backend: "{{ k3s_flannel_backend }}"
flannel-iface: "{{ k3s_node_interface }}"
kubelet-arg:
  - "address=0.0.0.0"
write-kubeconfig-mode: "{{ k3s_write_kubeconfig_mode }}"
secrets-encryption: {{ k3s_secrets_encryption | bool | lower }}
etcd-snapshot-schedule-cron: "{{ k3s_etcd_snapshot_schedule_cron }}"
etcd-snapshot-retention: {{ k3s_etcd_snapshot_retention }}
etcd-snapshot-compress: {{ k3s_etcd_snapshot_compress | bool | lower }}
etcd-snapshot-dir: "{{ k3s_etcd_snapshot_dir }}"
{% if k3s_is_primary_server | bool %}
cluster-init: true
{% else %}
server: "{{ k3s_server_url }}"
{% endif %}
{% if k3s_disable_components | length > 0 %}
disable:
{% for component in k3s_disable_components %}
  - "{{ component }}"
{% endfor %}
{% endif %}
{% if k3s_node_taints | length > 0 %}
node-taint:
{% for taint in k3s_node_taints %}
  - "{{ taint }}"
{% endfor %}
{% endif %}
{% if k3s_tls_sans | length > 0 %}
tls-san:
{% for san in k3s_tls_sans %}
  - "{{ san }}"
{% endfor %}
{% endif %}
