---
apiVersion: v1
kind: Namespace
metadata:
  name: "{{ k3s_platform_apps_namespace }}"
  labels:
    app.kubernetes.io/part-of: platform-bus
    pod-security.kubernetes.io/audit: restricted
    pod-security.kubernetes.io/audit-version: latest
    pod-security.kubernetes.io/warn: restricted
    pod-security.kubernetes.io/warn-version: latest
---
apiVersion: v1
kind: Namespace
metadata:
  name: monitoring
  labels:
    app.kubernetes.io/part-of: platform-bus
