{{ ansible_managed | comment }}

{% for iface in k3s_extra_interfaces %}
# {{ iface.comment | default('k3s extra network') }}
auto {{ iface.name }}
iface {{ iface.name }} inet static
    address {{ iface.address }}
    netmask {{ iface.netmask }}
{% if iface.mtu is defined %}
    mtu {{ iface.mtu }}
{% endif %}
{% if iface.ipv6_address is defined %}

iface {{ iface.name }} inet6 static
    address {{ iface.ipv6_address }}
    netmask {{ iface.ipv6_prefix | default(64) }}
{% if iface.mtu is defined %}
    mtu {{ iface.mtu }}
{% endif %}
{% endif %}

{% endfor %}
