[Unit]
Description=Schedule borgmatic backup jobs

[Timer]
OnCalendar={{ borgmatic_timer_on_calendar }}
RandomizedDelaySec={{ borgmatic_timer_randomized_delay_sec }}
Persistent={{ 'true' if borgmatic_timer_persistent else 'false' }}
Unit={{ borgmatic_service_unit_name }}

[Install]
WantedBy=timers.target
